@media(max-width:1125px) {
    .main-gallery{
        grid-template-columns: auto !important;
        grid-template-rows:2fr 1fr;
    }

    .main-gallery__sketch--container{
        display: grid;
        grid-column: 1 !important;
        grid-row: 1 !important;
    }

    #main__sketch canvas{
        width: 90% !important;
        height: auto !important; 
        /* justify-self: center !important; */
    }

    .main-gallery__text-container{
        background: bisque;
        display: grid;
        grid-column: 1;
        grid-row: 2;
    }
    
}


@media(max-width:700px) {
       #main__sketch canvas{
        /* width: 90% !important; */
        height: auto !important; 
    }

    .footer__icon--container {
        margin-left: 8px !important;
    }
  
    .footer__icon--container img, .footer__logo img{
        height: 32px !important;
    }
  
    .footer__logo{
        margin-right: 8px !important;
    }
    
}

@media(max-width:420px) {
    #main__sketch canvas{
     width:100% !important;
     min-width: 320px;
     height: 100% !important; 
     min-height: 420px;
     }

    .footer__icon--container {
        margin-left: 2px !important;
    }
  
    .footer__icon--container img, .footer__logo img{
        height: 24px !important;
    }
  
    .footer__logo{
        margin-right: 2px !important;
    }
 
}

